<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lkpower.pis">

    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name="com.lkpower.pis.common.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.LoginActivity" />
        <activity android:name=".ui.activity.PrimaryCategoryActivity" />
        <activity android:name=".ui.activity.SecondCategoryActivity" />
        <activity android:name=".ui.activity.SettingActivity" />
        <activity android:name=".ui.activity.PublishListActivity" />
        <activity android:name=".ui.activity.PublishDetailActivity" />
        <activity android:name=".ui.activity.PreviewImageActivity" />
        <activity android:name=".ui.activity.FaultHistoryListActivity" />
        <activity android:name=".ui.activity.FaultHistoryConfirmActivity" />
        <activity android:name=".ui.activity.FaultReportActivity" />
        <activity android:name=".ui.activity.InspectionStationListActivity" />
        <activity android:name=".ui.activity.InspectionTaskListActivity" />
        <activity android:name=".ui.activity.InspectionTaskDetailActivity" />
        <activity android:name=".ui.activity.SetoutCheckinListActivity" />
        <activity android:name=".ui.activity.SetoutCheckinDetailActivity" />
        <activity android:name=".ui.activity.SetoutAlcoholTestListActivity" />
        <activity android:name=".ui.activity.SetoutAlcoholTestDetailActivity" />
        <activity android:name=".ui.activity.SetoutListActivity" />
        <activity android:name=".ui.activity.SetoutDetailActivity" />
        <activity android:name=".ui.activity.TaskConveyListActivity" />
        <activity android:name=".ui.activity.TaskConveyDetailActivity" />
        <activity android:name=".ui.activity.SetoutGroupTaskListActivity" />
        <activity android:name=".ui.activity.SetoutConfirmProjListActivity" />
        <activity android:name=".ui.activity.LearnDocListActivity" />
        <activity android:name=".ui.activity.LearnDocDetailActivity" />
        <activity android:name=".ui.activity.DrivingInfoListActivity" />
        <activity android:name=".ui.activity.DrivingInfoDetailActivity" />
        <activity android:name=".ui.activity.DrivingInfoUploadActivity" />
        <activity android:name=".ui.activity.EmergencyInfoListActivity" />
        <activity android:name=".ui.activity.EmergencyInfoDetailActivity" />
        <activity android:name=".ui.activity.EmergencyInfoAddActivity" />
        <activity android:name=".ui.activity.SetoffCheckinListActivity" />
        <activity android:name=".ui.activity.SetoffCheckinDetailActivity" />
        <activity android:name=".ui.activity.SetoffAlcoholTestListActivity" />
        <activity android:name=".ui.activity.SetoffAlcoholTestDetailActivity" />
        <activity android:name=".ui.activity.SetoffListActivity" />
        <activity android:name=".ui.activity.SetoffDetailActivity" />
        <activity android:name=".ui.activity.FeedbackActivity" />
        <activity android:name=".ui.activity.ModifyServerAddressActivity" />


        <service android:name=".ui.service.UMengNotificationService" />

        <receiver android:name=".ui.receiver.NotificationReceiver" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.lkpower.pis.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>